<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<h2>tim ve</h2>
<form method="get" action="/bookings">
  <input type="text" name="phone" th:value="${phone}" placeholder="Nhập số điện thoại">
  <button type="submit">Tìm vé</button>
</form>

<h2>Chuyến bay</h2>
<form method="get" action="/">
  <input type="text" name="from" th:value="${from}" placeholder="Từ">
  <input type="text" name="to" th:value="${to}" placeholder="Đến">
  <button type="submit">Tìm kiếm</button>
</form>

<div th:each="f : ${flightPage.content}" class="card my-2 p-3">
  <h5 th:text="'Chuyến bay: ' + ${f.flightNumber}"></h5>
  <p th:text="'Từ: ' + ${f.departure} + ' → Đến: ' + ${f.destination}"></p>
  <p th:text="'Giá: ' + ${f.price} + ' VND'"></p>

  <form th:action="@{/book/{id}(id=${f.id})}" method="post">
    <input name="customerName" placeholder="Tên khách hàng" required />
    <input name="customerPhone" placeholder="SĐT" required />
    <button class="btn btn-primary">Đặt vé</button>
  </form>
</div>

</body>
</html>